name: ci
on:
  push:
    branches:
      - main
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true
      - uses: actions/setup-python@v4
        with:
          python-version: 3.13
      - run: pip3 install .
      - run: sudo apt-get update
      - run: mkdocs gh-deploy --force
